<div ba-panel ba-panel-class="profile-page">
    <div class="panel-content">

        <h3 class="with-line">Allgemeine Informationen</h3>

        <!--<div class="row">-->
        <!--<div class="col-md-6">-->
        <!--<div class="form-group row clearfix">-->
        <!--<label for="inputFirstName" class="col-sm-3 control-label">Picture</label>-->

        <!--<div class="col-sm-9">-->
        <!--<div class="userpic">-->
        <!--<div class="userpic-wrapper">-->
        <!--<img ng-src="{{ picture }}" ng-click="uploadPicture()">-->
        <!--</div>-->
        <!--<i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>-->
        <!--<a href class="change-userpic" ng-click="uploadPicture()">Change Profile Picture</a>-->
        <!--<input type="file" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-6"></div>-->
        <!--</div>-->

        <div class="row">
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label for="inputFirstName" class="col-sm-3 control-label">Vorname</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputFirstName" placeholder=""
                               value="{{ first_name }}">
                    </div>
                </div>
                <div class="form-group row clearfix">
                    <label for="inputLastName" class="col-sm-3 control-label">Nachname</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputLastName" placeholder="" value="{{last_name}}">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label for="group" class="col-sm-3 control-label">Gruppe</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="group" placeholder="" value="{{group}}">
                    </div>
                </div>

                <div class="form-group row clearfix">
                    <label for="platzhalter" class="col-sm-3 control-label">Username</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="platzhalter" placeholder=""
                               value="{{username}}">
                    </div>
                </div>
            </div>
        </div>

        <h3 class="with-line">Change Password</h3>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label for="inputPassword" class="col-sm-3 control-label">Password</label>

                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword" placeholder="" value="12345678">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label for="inputConfirmPassword" class="col-sm-3 control-label">Confirm Password</label>

                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputConfirmPassword" placeholder="">
                    </div>
                </div>
            </div>
        </div>

        <h3 class="with-line">Kontaktinformationen</h3>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputEmail3" placeholder=""
                               value="{{email}}">
                    </div>
                </div>
                <div class="form-group row clearfix">
                    <label for="inputPhone" class="col-sm-3 control-label">Telefon</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPhone" placeholder="" value="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <label for="location" class="col-sm-3 control-label">Standort</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="location" placeholder="" value="">
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-with-icon save-profile">
            <i class="ion-android-checkmark-circle"></i>Update Profile
        </button>
    </div>
</div>
